/* Fade-out effect op content */
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

/* Blur verwijderen op de achtergrond */
.unblur {
    filter: blur(0px);
    transition: filter 1s ease;
}

.disabled {
    pointer-events: none;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.start-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#playerName {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.scoreboard {
    background: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.reset-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}