* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.backgroundClass {
    background-image: url('../assets/Classroom.png');
}
.backgroundClassRebus{
    background-image: url('../assets/ClassroomWithRebus.png');
}

.lockerBackground {
    background-image: url('../assets/Locker.png');
}

.rulesBackground {
    background-image: url('../assets/Rules.png');
}

.bagBackground {
    background-image: url('../assets/openbag.png');
}

.laptopBackground {
    background-image: url('../assets/openlaptop.png');
}
.doorBackground{
    background-image:url('../assets/opendeur.png');
}
.lockedLaptopBackground {
    background-image: url('../assets/closedlaptop.png');
}

.lockedLockerBackground {
    background-image: url('../assets/lockers.png');
}

.lockedBagBackground {
    background-image: url('../assets/closedbag.png');
}
.lockedDoorBackground{
    background-image:url('../assets/geslotendeur.png');
}
.lockedBeamerBackground{
    background-image: url("../assets/Beamer.png");
}
.felicitation{
    background-image: url("../assets/felicitation.png");
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.back img {
    height: 2.5rem;
    width: 2.5rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 40px;
}

.start-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.disabled .start-button {
    opacity: 0.5;
    cursor: not-allowed;
}
.invisible{
    display: none;
}
.DAVYREN{
    background-image: url('../assets/Davy.png');
}

/* ------------------ */
/*--------------- CLASSROOM SCREEN --------------*/
.locker {
    position: absolute;
    top: 35%;    
    right: 22%; 
}

.laptop {
    position: absolute;
    top: 50%;    
    left: 48%; 
}

.bag {
    position: absolute;
    top: 50%;    
    left: 64%; 
}

.door {
    position: absolute;
    top: 55%;    
    left: 95%; 
}

.beamer {
    position: absolute;
    top: 3%;    
    left: 40%; 
}



/*--------------- LAPTOP  --------------*/
.laptoppassw {
    position: absolute;
    top: 39.5%;    
    left: 43%; 
    width: 13.5rem;
}
.backLaptop{
    position: absolute;
    top: 25%;    
    left: 5%; 
}


/*--------------- LOCKER  --------------*/
.lockerpassw {
    position: absolute;
    top: 77%;    
    left: 62.5%; 
    width: 10.7rem;
}
.backLocker{
    position: absolute;
    top: 25%;    
    left: 5%; 
}

.link1{
    position: absolute;
    top: 61%;    
    left: 30%; 
}

.link2{
    position: absolute;
    top: 68%;    
    left: 35%; 
}

.link3{
    position: absolute;
    top: 75%;    
    left: 32%; 
}

.link4{
    position: absolute;
    top: 81%;    
    left: 40%; 
}

/*--------------- BACKPACK --------------*/
.backpackpassw {
    position: absolute;
    top: 60%;    
    left: 42.5%; 
    width: 13.5rem;
}
.backBag{
    position: absolute;
    top: 25%;    
    left: 5%; 
}

.rules{
    position: absolute;
    top: 35%;    
    left: 50%; 
}
.backRules{
    position: absolute;
    top: 25%;    
    left: 5%; 
}

/*--------------- DOOR--------------*/
.Doorpassw {
    position: absolute;
    top: 60%;    
    left: 40%; 
    width: 20.5rem;
}
.backDoor{
    position: absolute;
    top: 25%;    
    left: 5%; 
}

/*--------------- BEAMER --------------*/
.Beamerpassw {
    position: absolute;
    top: 73%;    
    left: 58%; 
    width: 17.8rem;
}
.backBeamer{
    position: absolute;
    top: 25%;    
    left: 5%; 
}

/*-----------------------------*/
.locker img, .bag img, .rules img, .laptop img, .door img, .beamer img {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    transition: transform 0.2s ease;
}